.header__link {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  transition: opacity 0.3s;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .header__link {
    margin-right: 30px;
    font-size: 14px;
  }
}